[submodule "programming/boo-javascript"]
	path = programming/boo-javascript
	url = https://github.com/BOO1980/boo-javascript.git
[submodule "programming/boo-css"]
	path = programming/boo-css
	url = https://github.com/BOO1980/boo-css.git