[submodule "programming/boo-javascript"]
	path = programming/boo-javascript
	url = https://github.com/BOO1980/boo-javascript.git
[submodule "programming/boo-css"]
	path = programming/boo-css
	url = https://github.com/BOO1980/boo-css.git
[submodule "programming/boo-css3"]
	path = programming/boo-css3
	url = https://github.com/BOO1980/boo-css3.git
[submodule "programming/boo-html"]
	path = programming/boo-html
	url = https://github.com/BOO1980/boo-html.git
[submodule "programming/boo-html5"]
	path = programming/boo-html5
	url = https://github.com/BOO1980/boo-html5.git
[submodule "frameworks/boo-.net"]
	path = frameworks/boo-.net
	url = https://github.com/BOO1980/boo-.net.git
[submodule "programming/boo-typescript"]
	path = programming/boo-typescript
	url = https://github.com/BOO1980/boo-typescript.git
[submodule "programming/boo-php"]
	path = programming/boo-php
	url = https://github.com/BOO1980/boo-php.git
[submodule "programming/boo-sass"]
	path = programming/boo-sass
	url = https://github.com/BOO1980/boo-sass.git
